@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvingut al TFG</h1>
    <nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1170:827" src="page_001.jpg" height="1170" width="827" border="0" usemap="#Map"></div>
<div class="pos" id="_118:145" style="top:145;left:118">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
1. Introducci&#243;....................................................................................................1</span>
</div>
<div class="pos" id="_132:165" style="top:165;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
1.1.</span>
</div>
<div class="pos" id="_184:165" style="top:165;left:184">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
Context i justificaci&#243; del Treball.............................................................1</span>
</div>
<div class="pos" id="_132:184" style="top:184;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
1.2.</span>
</div>
<div class="pos" id="_184:184" style="top:184;left:184">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
Objectius del Treball..............................................................................2</span>
</div>
<div class="pos" id="_132:203" style="top:203;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
1.3.</span>
</div>
<div class="pos" id="_184:203" style="top:203;left:184">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
Impacte en sostenibilitat, &#232;tic-social i de diversitat................................2</span>
</div>
<div class="pos" id="_132:222" style="top:222;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
1.4.</span>
</div>
<div class="pos" id="_184:222" style="top:222;left:184">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
Enfocament i m&#232;tode seguit..................................................................3</span>
</div>
<div class="pos" id="_132:241" style="top:241;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
1.5.</span>
</div>
<div class="pos" id="_184:241" style="top:241;left:184">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
Planificaci&#243; del Treball ..........................................................................3</span>
</div>
<div class="pos" id="_132:260" style="top:260;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
1.6.</span>
</div>
<div class="pos" id="_184:260" style="top:260;left:184">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
Breu sumari de productes obtinguts......................................................4</span>
</div>
<div class="pos" id="_132:280" style="top:280;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
1.7.</span>
</div>
<div class="pos" id="_184:280" style="top:280;left:184">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
Breu descripci&#243; dels altres cap&#237;tols de la mem&#242;ria...............................4</span>
</div>
<div class="pos" id="_118:299" style="top:299;left:118">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
2. Materials i m&#232;todes ......................................................................................5</span>
</div>
<div class="pos" id="_132:318" style="top:318;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.1</span>
</div>
<div class="pos" id="_184:318" style="top:318;left:184">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
Materials................................................................................................5</span>
</div>
<div class="pos" id="_132:337" style="top:337;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.2</span>
</div>
<div class="pos" id="_184:337" style="top:337;left:184">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
DevOps .................................................................................................6</span>
</div>
<div class="pos" id="_151:356" style="top:356;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.2.1</span>
</div>
<div class="pos" id="_218:356" style="top:356;left:218">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
Perqu&#232; Sorgeix DevOps ................................................................6</span>
</div>
<div class="pos" id="_151:382" style="top:382;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.2.2</span>
</div>
<div class="pos" id="_218:382" style="top:382;left:218">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
Que &#233;s Devops ..............................................................................6</span>
</div>
<div class="pos" id="_151:408" style="top:408;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.2.3</span>
</div>
<div class="pos" id="_218:408" style="top:408;left:218">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
Metodologia Devops ......................................................................9</span>
</div>
<div class="pos" id="_151:435" style="top:435;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.2.4</span>
</div>
<div class="pos" id="_218:435" style="top:435;left:218">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
Practiques Devops.........................................................................9</span>
</div>
<div class="pos" id="_151:461" style="top:461;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.2.5</span>
</div>
<div class="pos" id="_218:461" style="top:461;left:218">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
DevOps vs M&#232;tode Tradicional....................................................11</span>
</div>
<div class="pos" id="_151:487" style="top:487;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.2.6</span>
</div>
<div class="pos" id="_218:487" style="top:487;left:218">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
Rols del departament Devops mes comuns ................................12</span>
</div>
<div class="pos" id="_151:513" style="top:513;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.2.7</span>
</div>
<div class="pos" id="_218:513" style="top:513;left:218">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
Devops Engineer en profunditat...................................................13</span>
</div>
<div class="pos" id="_151:539" style="top:539;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.2.8</span>
</div>
<div class="pos" id="_218:539" style="top:539;left:218">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
Eines Mes Utilitzades...................................................................14</span>
</div>
<div class="pos" id="_132:565" style="top:565;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.3</span>
</div>
<div class="pos" id="_184:565" style="top:565;left:184">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
Aplicaci&#243; d&#146;Una Metodologia Devops..................................................15</span>
</div>
<div class="pos" id="_151:584" style="top:584;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.3.1</span>
</div>
<div class="pos" id="_218:584" style="top:584;left:218">
<span id="_15.8" style=" font-family:Arial; font-size:15.8px; color:#000000">
Desenvolupament de la Infraestructura .......................................16</span>
</div>
<div class="pos" id="_151:610" style="top:610;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.3.2</span>
</div>
<div class="pos" id="_218:610" style="top:610;left:218">
<span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
Organitzaci&#243; Departamental DevOps ..........................................23</span>
</div>
<div class="pos" id="_151:637" style="top:637;left:151">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.3.3</span>
</div>
<div class="pos" id="_218:637" style="top:637;left:218">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
Funcionament de la metodologia en la organitzaci&#243;....................24</span>
</div>
<div class="pos" id="_132:663" style="top:663;left:132">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
2.4</span>
</div>
<div class="pos" id="_184:663" style="top:663;left:184">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
Problemes durant el treball .................................................................25</span>
</div>
<div class="pos" id="_118:682" style="top:682;left:118">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
3. Resultats.....................................................................................................26</span>
</div>
<div class="pos" id="_118:701" style="top:701;left:118">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
4. Conclusions i treballs futurs........................................................................27</span>
</div>
<div class="pos" id="_118:720" style="top:720;left:118">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
5. Glossari ......................................................................................................28</span>
</div>
<div class="pos" id="_118:739" style="top:739;left:118">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
6. Bibliografia..................................................................................................29</span>
</div>
<div class="pos" id="_118:758" style="top:758;left:118">
<span id="_15.7" style=" font-family:Arial; font-size:15.7px; color:#000000">
7. Annexos......................................................................................................30</span>
</div>
</nowrap></nobr>
    </div>
